<div>
  <button (click)="generatePDFfromHTML()">Générer PDF</button>
</div>
<div id="htmlContent">
  <img src="logo.png" class="logo" />
  <p class="rosebg" style="color: white">DEVIS</p>
  <p class="date">Date : 16/05/2025</p>
  <div class="ligne"></div>

  <div class="content">
    <p class="devis tinytext">DEVIS N° 047-2024</p>
    <div class="flex between">
      <div class="cloe">
        <p>Cloé Chaudron</p>
        <p>126 Rue de la Cerisaie</p>
        <p>84400 Gargas</p>
        <p>06.68.64.44.02</p>
        <p class="nobold">cloe.chaudron&#64;outlook.com</p>
      </div>
      <div class="cloe client">
        <p>Cloé Chaudron</p>
        <p>126 Rue de la Cerisaie</p>
        <p>84400 Gargas</p>
        <p>06.68.64.44.02</p>
        <p class="nobold">cloe.chaudron&#64;outlook.com</p>
      </div>
    </div>
    <div class="table margtop">
      <p>Quantité</p>
      <p>Description</p>
      <p>Prix Unitaire</p>
      <p>Reduction</p>
      <p>Total</p>
    </div>
    <div class="fullligne"></div>
    <div class="table">
      <p>1</p>
      <p>Frais de déplacement Jour-J (Aller/Retour)</p>
      <p>33.00€</p>
      <p>10%</p>
      <p>30.00€</p>
    </div>
    <div class="fullligne"></div>
    <div class="flex">
      <p class="tinytext echeance">Échéance : 30/12/2024</p>
      <p class="bold">Total</p>
      <p class="bold total">30.00€</p>
    </div>
    <p class="minitxt">TVA Non Applicable - article 293 B du CGI</p>

    <div class="infos">
      <p>
        Ce devis concerne les prestations nommées. Il est soumis aux conditions
        mentionnées ci-dessous :
      </p>
      <ul>
        <li>
          <p>
            30% d'arrhes de la prestation mariée sont à verser afin de bloquer
            la date.
          </p>
        </li>
        <li><p>Le solde est à verser au plus tard le jour du mariage.</p></li>
        <li>
          <p>
            Les indemnités kilométriques sont facturées au tarif de
            0,50€/kilomètre. Péages en plus.
          </p>
        </li>
        <li>
          <p>
            Les frais de déplacements sont à verser au plus tard le jour du dit
            déplacement.
          </p>
        </li>
        <li>
          <p>
            Le présent devis est valable jusqu'à la fin des prestations
            mentionnées. Des prestations peuvent être modifiées, ajoutées mais
            en aucun cas supprimées
          </p>
        </li>
      </ul>
    </div>

    <p class="signature">
      Pour accepter ce devis, apposez votre signature ici et renvoyez-le :
    </p>
  </div>

  <div class="sign"></div>

  <div class="bottom">
    <p class="rosebg" style="color: white">&nbsp;</p>
    <div class="flex">
      <div class="iban">
        <p>Coordonnées Bancaires</p>
        <p>Non : Société Générale</p>
        <p>IBAN : FR76 3000 3031 8400 1500 2190 924</p>
        <p>BIC : SOGEFRPP</p>
        <p>SIRET : 883 822 801 00014</p>
      </div>
      <div class="thank">
        <p>THANK</p>
        <p>YOU</p>
      </div>
    </div>
  </div>
</div>
