#htmlContent {
  width: 595px !important;
  height: 842px !important;
  border: 2px solid transparent;
  position: relative;
  min-width: 595px !important;
}
.inputs {
  width: -moz-available;
  height: 842px !important;
  border: 2px solid transparent;
  position: relative;
}
* {
  -webkit-user-select: none; /* Safari */
  -ms-user-select: none; /* IE 10 and IE 11 */
  user-select: none; /* Standard syntax */
}
.textoverflow {
  text-overflow: ellipsis;
  overflow: hidden;
}
.rosebg {
  background-color: #ab83ba22;
  font-size: 25.1px;
  text-align: center;
  letter-spacing: 15px;
}
.center {
  justify-content: center;
}
.right {
  justify-content: right;
}
input {
  text-align: center;
  width: 80px;
  margin: 0px 5px;
}
.inputs .flex {
  width: 100%;
  margin: 2px 0px;
}
.big input {
  width: 180px;
}
.logo {
  width: 30%;
  margin: auto;
  display: flex;
  margin-top: 5px;
  margin-bottom: 10px;
}
p {
  font-family: "Cardo", serif !important;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  font-size: 14px;
  letter-spacing: 1px;
}
.date {
  text-align: center;
  font-size: 15px;
}
.ligne {
  border-bottom: 1px solid black;
  width: 90%;
  display: flex;
  margin: auto;
}
.fullligne {
  border-bottom: 1px solid black;
  width: 100%;
  display: flex;
  margin: auto;
}
.margtop {
  margin-top: 25px;
}
.content {
  padding: 0px 15px;
  position: relative;
}
.cloe p {
  font-weight: bold;
  position: relative;
}
.nobold {
  font-weight: unset !important;
}
.bold {
  font-weight: bold !important;
}
.flex {
  display: flex;
}
.between {
  justify-content: space-between;
}
.tinytext {
  font-size: 12px !important;
}
.devis {
  text-align: right;
}
.client p {
  text-align: right;
}
.table {
  display: flex;
  p {
    width: 10%;
    white-space: nowrap;
    text-align: center;
    font-size: 10px !important;
  }
  p:nth-child(2) {
    width: 45%;
  }
  p:nth-child(3) {
    width: 20%;
  }
  p:nth-child(5) {
    width: 15%;
  }
}
.echeance {
  width: 75%;
}
.total {
  width: 15%;
  text-align: right;
}
.minitxt {
  font-size: 8px !important;
  position: relative;
  text-align: right;
  width: 100%;
  top: -4px;
}
.infos p {
  font-size: 9px !important;
}
ul {
  margin: 0;
  font-size: 9px;
  padding: 0px 20px;
}
.infos {
  margin-top: 20px;
}
.signature {
  font-size: 10px !important;
  margin-top: 10px;
}
.iban p {
  color: #ab83ba;
  font-size: 12px !important;
}
.thank p {
  color: #87528e;
  font-size: 29px !important;
  text-align: center;
}
.bottom {
  position: absolute;
  bottom: 0px;
  width: 100%;
  .flex {
    margin: 0px 20px;
  }
  .iban {
    width: 60%;
  }
  .thank {
    width: 40%;
    p {
      font-weight: bold;
      letter-spacing: 10px;
    }
  }
}
.disabled {
  color: white !important;
  pointer-events: none;
}
.green {
  font-weight: bold;
  color: rgb(57, 155, 57);
}
.prestas {
  max-height: 300px;
  overflow-y: scroll;
  border: 1px solid black;
  margin: 20px 0px;
  padding: 10px;
  .flex {
    width: unset;
  }
  input {
    width: 60px;
    font-size: 11px;
  }
  .qte {
    width: 100px;
  }
  .nom {
    width: 80%;
    text-align: center;
  }
}
.title {
  p {
    text-align: center;
    width: 100% !important;
    border-bottom: 1px solid black;
  }
}
.clickable:hover {
  cursor: pointer;
  font-weight: bold;
  color: red;
}
.noOverflow {
  max-height: unset !important;
  overflow: hidden !important;
}
